/* Navigation bar */
/* #navbar {
    flex-direction: column;
    width: 100%;
}
#logo {
    margin: 30px 50px;
}
#navbar ul {
    display: flex;
    padding-left: 3px;
}
#navbar ul li a {
    font-size: 1.6rem;
    padding: 0px 10px;
}

/* home section 
#home{
    height: 580px;
    flex-direction: column;
    padding : 3px 68px;
}
#home::before {
    height: 582px;
    
    flex-direction: column;
}


/* services section 
#services{
    display: block;
}
#services .box {
    width: 84%;
}
#services .box img {
    width: 70%;
    height: 20%;
}

/* house section 
#houseimage {
    display: block;
}
#houseimage .houses img {
    display: flex;
    width: 98%;
    height: 95%;
}
#Search {
    margin: -20px 15%;
    width: 65%;
}
#Search-box {
    padding-left: 30%;
    padding-right: 0px;
    width: auto;
}
#Search-box div {
    display: block;
}
#loc{
    padding-right: 0px;
}
#number{
    padding-right: 0px;
}
#date{
    padding-right: 0px;
}
#Search-box input, select {
    width: 85%;
}
#Search-box label {
    padding: 1.8rem;
    font-size: 1.7rem;
}
input[type="button" i] {
    padding: 13px 13px;
}
/* utility section 
.content-box{
    height:50%;
}
.content-box .about {
    float: none;
    width: 96%;
}
.content-box .details ul {
    padding-left: 50%;
    padding-top: 2px;
    font-size: 2.1rem;
}
.content-box .details {
    color: white;
    float: none;
    padding-right: 0%;
    
}
.center{
    font-size:1.5rem;
}
p{
    font-size: 2.2rem;
}
.h-primary{
    font-size: 2.8rem;
    padding: 15px;
    padding-top: 35px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 15px 25px;
    font-size:2.1rem;
} */
